<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>org.collective.testmethods.CollectiveRegressionTestCustomer</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tc028_collective_Order_multiple_Products_SameCategory_singleQuantity_Each_LessThan_20000</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc041_collective_HomePageIntroductionText</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc063_collective_Made_To_Measure_Appointments_MobileView</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc002_collective_login</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc037_collective_Registration_ErrorScenario_UniquePhnoAndPwd_NoName</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc024_collective_FilterColour</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc092_collective_OrderPlacement_newArrivals</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc099_collective_homePage_emptyForSubscription</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc011_collective_womenTab</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc010_collective_orderPlacement</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc069_collective_Made_To_Measure_CollectiveAtelier_MobileView</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc013_collective_shoppingOnline_faq</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc093_collective_placeorder_sales</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc006_collective_accessories_pagination</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc091_collective_Made_To_Measure_ErrorScenario_MakeAnAppointmentFunctionality_PhoneNumberBlank</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc051_collective_AddToCart_negativeNumber</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc007_collective_sales</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc088_collective_Made_To_Measure_ErrorScenario_MakeAnAppointmentFunctionality_AllBlank</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc077_collective_Made_To_Measure_CollectiveAtelier_Hackett_TabletView</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc052_collective_AddToCart_DecimalValue</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc015_collective_shoppingOnline_ReturnPolicy</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc036_collective_Registration_ErrorScenario_UniquePhnoAndPwd_NoName_No_Email</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc030_collective_Login_ErrorScenario_NoPhoneNumberAndNoPwd</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc016_collective_customerServices_theCollectivePrive</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc078_collective_Made_To_Measure_Appointments_TabletView</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc032_collective_Login_ErrorScenario_NoPhoneNumberAndPwd</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc044_collective_Registration_ErrorScenario_WholeNumbers_Only_Name</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc050_collective_AddToCart_HugeNumber</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc053_collective_Made_to_Measure_InitialPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc035_collective_Registration_ErrorScenario_ExistingPhnoAndPwd</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc058_collective_Made_To_Measure_CollectiveAtelier_Eton</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc048_collective_Registration_ErrorScenario_PhoneNumber_SpecialCharactersAndAlphabets</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc020_collective_OurStoresAndEvents_BrandDirectory</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc072_collective_Made_to_MeasurePage_TabletView</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc029_collective_Order_multiple_Products_SameCategory_singleQuantity_Each_MoreThan_20000</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc008_collective_orderGreaterThan20000</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc021_collective_AboutUs_Careers</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc001_collective_signup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc047_collective_Registration_ErrorScenario_PhoneNumber_LessThan10Characters</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc089_collective_Made_To_Measure_ErrorScenario_MakeAnAppointmentFunctionality_NameBlank</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc042_collective_BlogPageCompleteAssertion</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc034_collective_Registration_ErrorScenario_AllEmpty</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc009_collective_orderLessOrEqualThan20000</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc095_collective_shoppingCartAddress_ErrorPincode</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc019_collective_OurStoresAndEvents_Events</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc043_collective_CategoriesAndBrandsUIVerifications</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc068_collective_Made_to_MeasurePage_MobileView</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc090_collective_Made_To_Measure_ErrorScenario_MakeAnAppointmentFunctionality_EmailBlank</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc040_collective_Registration_LoginAsExistingCustomer</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc061_collective_Made_To_Measure_MakeAnAppointmentFunctionality</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc074_collective_Made_To_Measure_CollectiveAtelier_Armani_TabletView</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc023_collective_FilterSize</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc097_collective_homePage_newSubscribeNewsLetter</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc086_collective_Made_To_Measure_ErrorScenario_MakeAnAppointmentFunctionality_InvalidEmail</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc094_collective_placeorder_OrderCancellation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc079_collective_Made_To_Measure_MakeAnAppointmentFunctionality_TabletView</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc045_collective_Registration_ErrorScenario_SpecialCharacters_Only_Name</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc081_collective_Made_To_Measure_CollectiveAtelier_Armani_WatchVideo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc56_collective_Made_To_Measure_CollectiveAtelier_Armani</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc046_collective_Registration_ErrorScenario_ExistingEmail</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc031_collective_Login_ErrorScenario_PhoneNumberAndNoPwd</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc082_collective_Made_To_Measure_CollectiveAtelier_Santoni_MakeAnAppointment</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc003_collective_blog</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc005_collective_Filter_Brand</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc057_collective_Made_To_Measure_CollectiveAtelier_Santoni</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc059_collective_Made_To_Measure_CollectiveAtelier_Hackett</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc004_collective_accessories</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc018_collective_OurStoresAndEvents_StoreLocator</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc054_collective_Made_to_MeasurePage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc084_collective_Made_To_Measure_CollectiveAtelier_Hackett_MakeAnAppointment</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc096_collective_shoppingCartAddress_allDataEmpty</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc055_collective_Made_To_Measure_CollectiveAtelier</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc014_collective_shoppingOnline_ShippingPolicy</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc076_collective_Made_To_Measure_CollectiveAtelier_Eton_TabletView</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc017_collective_customerServices_PrivacyPolicy</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc065_collective_Made_To_Measure_CollectiveAtelier_Eton_MobileView</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc062_collective_Made_To_Measure_MakeAnAppointmentFunctionality_MobileView</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc087_collective_Made_To_Measure_ErrorScenario_MakeAnAppointmentFunctionality_InvalidPhoneNumber</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc060_collective_Made_To_Measure_Appointments</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc083_collective_Made_To_Measure_CollectiveAtelier_Santoni_WatchVideo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc038_collective_Registration_ErrorScenario_UniquePhnoAndPwd_NoEmail</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc085_collective_Made_To_Measure_CollectiveAtelier_Eton_MakeAnAppointment</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc075_collective_Made_To_Measure_CollectiveAtelier_Santoni_TabletView</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc033_collective_Login_ErrorScenario_InvalidPhoneNumberAndPwd</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc080_collective_Made_To_Measure_CollectiveAtelier_Armani_MakeAnAppointment</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc067_collective_Made_to_Measure_InitialPage_MobileView</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc039_collective_Registration_ErrorScenario_UniquePhno_PasswordMismatch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc070_collective_Made_To_Measure_CollectiveAtelier_Armani_MobileView</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc071_collective_Made_to_Measure_InitialPage_TabletView</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc027_collective_Order_multiple_Products_DifferentCategory_singleQuantity_Each_LessThan_20000</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc025_collective_FilterPrice</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc022_collective_AboutUs_TheCollective</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc026_collective_Order_same_Product_Multiple_Quantities_LessThan_20000</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc049_collective_Registration_ErrorScenario_Email_invalidEmailFormat</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc098_collective_homePage_exisitingSubscribeNewsLetter</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc073_collective_Made_To_Measure_CollectiveAtelier_TabletView</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc066_collective_Made_To_Measure_CollectiveAtelier_Santoni_MobileView</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc064_collective_Made_To_Measure_CollectiveAtelier_Hackett_MobileView</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkForLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>startRecording</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>callStopRecording</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkForAdminLogout</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>takeScreenshot</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>org.collective.testmethods.CollectiveRegressionTestURL</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>aPI_tc001_PageURLsStaging</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>init</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>org.collective.testmethods.CollectiveRegressionTestAdmin</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc031_CancelCarousel</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc022_NewUsersCreation_Blogger_And_Deletion</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc002_collective_admin_reports_OrderTotalsSheet</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tc010_evaluateAdminTabs_Blog</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc005_evaluateAdminTabs_Orders</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc023_NewPromotion_Creation_And_Deletion</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc030_CreateVerifyAndDeleteCarousel</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc034_Products_prototypes</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc028_Products_Taxonomies</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc026_UserList</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc020_NewUsersCreation_User_And_Deletion</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc018_StoreLocator_Adding_Updating_RemovingNewStore</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc027_returnList</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc032_Products_OptionTypes</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc023_evaluateAdminTabs_AnalyticScript</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc017_StoreLocator_Adding_RemovingNewStore</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc009_evaluateAdminTabs_Users</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc014_Login_ErrorScenario_Providing_NoPassword</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc024_CreateNew_AnalyticScript</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc007_evaluateAdminTabs_Settings</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc021_NewUsersCreation_Admin_And_Deletion</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc029_Products_Taxons</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc016_Login_ErrorScenario_Providing_CustomerCredentials_NoPhoneNumber_NoPassword</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc025_CreateNew_AnalyticScript</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc019_NewBlogEntry_RemoveBlog</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc003_evaluateAdminTabs_Returns</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc008_evaluateAdminTabs_Promotions</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc011_evaluateAdminTabs_Store</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc033_Products_properties</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc013_Login_ErrorScenario_Providing_CustomerCredentials</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc015_Login_ErrorScenario_Providing_CustomerCredentials_NoPhoneNumber</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc001_collective_adminLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc004_evaluateAdminTabs_Carousel</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc012_Login_ErrorScenario_Providing_InvalidCredentials</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>admin_tc006_evaluateAdminTabs_Products_ProductsSection</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkForLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>startRecording</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>callStopRecording</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkForAdminLogout</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>takeScreenshot</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
