<h2>Methods that were not run</h2><table>
<tr><td>org.collective.maincontroller.MainController.tearDownClass</td></tr>
<tr><td>org.collective.maincontroller.MainController.beforeTest</td></tr>
<tr><td>org.collective.maincontroller.MainController.beforeSuite</td></tr>
</table>