<h2>Methods that were not run</h2><table>
<tr><td>org.collective.testmethods.CollectiveRegressionTestAdmin.admin_tc021_NewUsersCreation_Admin_And_Deletion</td></tr>
<tr><td>org.collective.testmethods.CollectiveRegressionTestAdmin.admin_tc024_CreateNew_AnalyticScript</td></tr>
<tr><td>org.collective.testmethods.CollectiveRegressionTestAdmin.admin_tc009_evaluateAdminTabs_Users</td></tr>
<tr><td>org.collective.testmethods.CollectiveRegressionTestAdmin.admin_tc017_StoreLocator_Adding_RemovingNewStore</td></tr>
<tr><td>org.collective.testmethods.CollectiveRegressionTestAdmin.admin_tc027_returnList</td></tr>
<tr><td>org.collective.testmethods.CollectiveRegressionTestAdmin.admin_tc023_evaluateAdminTabs_AnalyticScript</td></tr>
<tr><td>org.collective.testmethods.CollectiveRegressionTestAdmin.admin_tc032_Products_OptionTypes</td></tr>
<tr><td>org.collective.testmethods.CollectiveRegressionTestAdmin.admin_tc018_StoreLocator_Adding_Updating_RemovingNewStore</td></tr>
<tr><td>org.collective.testmethods.CollectiveRegressionTestAdmin.admin_tc022_NewUsersCreation_Blogger_And_Deletion</td></tr>
<tr><td>org.collective.testmethods.CollectiveRegressionTestAdmin.admin_tc005_evaluateAdminTabs_Orders</td></tr>
<tr><td>org.collective.testmethods.CollectiveRegressionTestAdmin.admin_tc026_UserList</td></tr>
<tr><td>org.collective.testmethods.CollectiveRegressionTestAdmin.admin_tc020_NewUsersCreation_User_And_Deletion</td></tr>
<tr><td>org.collective.testmethods.CollectiveRegressionTestAdmin.admin_tc023_NewPromotion_Creation_And_Deletion</td></tr>
<tr><td>org.collective.testmethods.CollectiveRegressionTestAdmin.admin_tc028_Products_Taxonomies</td></tr>
<tr><td>org.collective.testmethods.CollectiveRegressionTestAdmin.admin_tc004_evaluateAdminTabs_Carousel</td></tr>
<tr><td>org.collective.testmethods.CollectiveRegressionTestAdmin.admin_tc030_CreateVerifyAndDeleteCarousel</td></tr>
<tr><td>org.collective.testmethods.CollectiveRegressionTestAdmin.admin_tc034_Products_prototypes</td></tr>
<tr><td>org.collective.testmethods.CollectiveRegressionTestAdmin.admin_tc002_collective_admin_reports_OrderTotalsSheet</td></tr>
<tr><td>org.collective.testmethods.CollectiveRegressionTestAdmin.tc010_evaluateAdminTabs_Blog</td></tr>
<tr><td>org.collective.testmethods.CollectiveRegressionTestAdmin.admin_tc014_Login_ErrorScenario_Providing_NoPassword</td></tr>
<tr><td>org.collective.testmethods.CollectiveRegressionTestAdmin.admin_tc015_Login_ErrorScenario_Providing_CustomerCredentials_NoPhoneNumber</td></tr>
<tr><td>org.collective.testmethods.CollectiveRegressionTestAdmin.admin_tc012_Login_ErrorScenario_Providing_InvalidCredentials</td></tr>
<tr><td>org.collective.testmethods.CollectiveRegressionTestAdmin.admin_tc006_evaluateAdminTabs_Products_ProductsSection</td></tr>
<tr><td>org.collective.testmethods.CollectiveRegressionTestAdmin.admin_tc008_evaluateAdminTabs_Promotions</td></tr>
<tr><td>org.collective.testmethods.CollectiveRegressionTestAdmin.admin_tc013_Login_ErrorScenario_Providing_CustomerCredentials</td></tr>
<tr><td>org.collective.testmethods.CollectiveRegressionTestAdmin.admin_tc001_collective_adminLogin</td></tr>
<tr><td>org.collective.testmethods.CollectiveRegressionTestAdmin.admin_tc011_evaluateAdminTabs_Store</td></tr>
<tr><td>org.collective.testmethods.CollectiveRegressionTestAdmin.admin_tc033_Products_properties</td></tr>
<tr><td>org.collective.testmethods.CollectiveRegressionTestAdmin.admin_tc029_Products_Taxons</td></tr>
<tr><td>org.collective.testmethods.CollectiveRegressionTestAdmin.admin_tc016_Login_ErrorScenario_Providing_CustomerCredentials_NoPhoneNumber_NoPassword</td></tr>
<tr><td>org.collective.testmethods.CollectiveRegressionTestAdmin.admin_tc019_NewBlogEntry_RemoveBlog</td></tr>
<tr><td>org.collective.testmethods.CollectiveRegressionTestAdmin.admin_tc025_CreateNew_AnalyticScript</td></tr>
<tr><td>org.collective.testmethods.CollectiveRegressionTestAdmin.admin_tc007_evaluateAdminTabs_Settings</td></tr>
<tr><td>org.collective.testmethods.CollectiveRegressionTestAdmin.admin_tc003_evaluateAdminTabs_Returns</td></tr>
</table>