<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="60a1bd">  <td>15/10/14 05:53:10</td>   <td>0</td> <td title="&gt;&gt;MainController.screenshotCleanUp()[pri:0, instance:org.framework.testmethods.googleSearchTest@5e3a8624]">&gt;&gt;screenshotCleanUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@507084503</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>15/10/14 05:53:10</td>   <td>75</td> <td>&nbsp;</td><td title="&gt;&gt;MainController.beforeTest()[pri:0, instance:org.framework.testmethods.googleSearchTest@5e3a8624]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@507084503</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>15/10/14 05:53:17</td>   <td>7180</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainController.setUp()[pri:0, instance:org.framework.testmethods.googleSearchTest@5e3a8624]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@507084503</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>15/10/14 05:53:24</td>   <td>13805</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="googleSearchTest.searchAnotherText()[pri:0, instance:org.framework.testmethods.googleSearchTest@5e3a8624]">searchAnotherText</td> 
  <td>main@507084503</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>15/10/14 05:53:24</td>   <td>14034</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainController.takeScreenshot(org.testng.ITestResult)[pri:0, instance:org.framework.testmethods.googleSearchTest@5e3a8624]">&lt;&lt;takeScreenshot</td> 
<td>&nbsp;</td>  <td>main@507084503</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>15/10/14 05:53:25</td>   <td>14408</td> <td title="&lt;&lt;MainController.tearDownClass()[pri:0, instance:org.framework.testmethods.googleSearchTest@5e3a8624]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@507084503</td>   <td></td> </tr>
</table>
